<h4>Hi <%=session[:player_name] %> !</h4>

<p>
  Make a bet for this round.
</p>

<p>
  <%= session[:player_name]%> has <%= %>
</p>



<form action="/new_bet" method="post">
  <div class="input-group input-group-sm col-md-2">
    <input type="text" class="form-control" placeholder="$" name="new_bet">
  </div>

  <button type="submit" class="btn btn-default">
    Make bet!!
  </button>
</form>
