<h3>What's your name?</h3>
<form action="/new_player" method="post">
  <div class="input-group col-xs-6 col-sm-4">
    <span class="input-group-addon">@</span>
    <input type="text" class="form-control" placeholder="Username" name="player_name">

  </div>
</form>
